body,body *{
  list-style: none;
  margin: 0;
}

.App {
  background-color: #e0eceb;
  background-image: linear-gradient(to top,#a3ece6, white);
  display: grid;
  gap: 2rem;
}
.App__content{
  width: 75rem;
}
