.DashBoard{
    *{
        text-align: center;
    }
    h1{
        font-size: 70px;
        font-family: "Allerta Stencil"; 
         
          font-weight: 700;
        text-align: center;
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    }
}
.mainImage{
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem ;
    box-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}


.outer{
    display: grid;
    justify-content: center;
    align-items: center;
 }
 
 .Nav{
     
     width:10rem;
     height:7rem;
     background-color: #345C7B;
     border-radius: 1.5rem;
     text-align: center;
 }
 .DashBoard__CRG{
     display: grid;
     gap: 1rem;
 }