.site-card-border-less-wrapper {
    padding: 30px;

     

    .site-card-border-less-wrapper__Card{
      background-color: #345C7B;
      border-radius: 1.5rem;
      font-weight: 900;
      font-size: 1.5rem;

      p{
        color: #E3D3E1;
      }
    }
    
  }