.site-card-border-less-wrapper {
    padding: 30px;

    .site-card-border-less-wrapper__Card{
      background-color: #006de6;
      border-radius: 1.5rem;
      font-weight: 900;
      font-size: 1.5rem;
      box-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
      0px -4px 10px rgba(255,255,255,0.3);
      text-shadow: 2px 2px black;

      p{
        color: whitesmoke;
      }
    }
    
  }