.m-modal{
    *{
        margin: 0.2rem 0;
        font-size: 1.3rem;
        border-radius: 0.5rem;
    }
    &__age,&__gender{
        display:flex;
        justify-content: space-between;
    }
    &__btnDiv{
        display: flex;
        justify-content: center;
    }
}