

.login-form {
	display: grid;
	background-color: #FEBA33;
	justify-content: center;
	align-items: center;
	border-radius: 0 1.25rem 1.25rem 0;
	gap: 1rem;
	input {
		width: 15.625rem;
		height:2rem;
		&::placeholder {
			padding: 1.25rem;
		}
	}
	.error{
		text-align: center;
		color: red;
		font-size: 1rem;
		font-weight: 700;
	}
}
.login-form-button__Signup{
 width: 150px;
 margin: 0 auto;
}
.login-form-button__Forgot{
	width: 190px;
	margin: 0 auto;
   }

.login-form-button__Login{
	display: grid;
	justify-content: center;
	p{
		padding-left: 20px;
		font-style: italic;
		color: blue;
		cursor: pointer;
	}
}


.login-form-button {
	background-color: #1A535C;
	color: white;
	border-radius: 1.25rem;
	border: none;

}

