.login_card {
  width: 75rem;
  margin: 0 auto;
  justify-content: center;
  display: grid;
  grid-template-columns: auto 20rem;
  border-radius: 10;
  .loginDetails_cardLeft {
    display: grid;
    justify-content: end;
  }
  .loginDetails_cardRight {
    background-color: #feba33;

    border-radius: 0 1.25rem 1.25rem 0;
  }
}
