.Hospital-Booking{
    max-width: 75rem;
    margin: 0 auto;
    font-size: large;
    h1{
        color: rgb(9, 128, 207);
        justify-content: left;
    }
    p{
        text-align: justify;
    }
    &__paragraph{
        margin-left: 7rem;
    }
    ul{
        margin-left: 20rem;
    }
    &__Img{
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-around;
    }
    &__Availability{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        margin : 2rem 2rem;
        font-size: larger;
    }
    &__modalBtn{
        display: grid;
        justify-content: center;
    }
}