.footer{
    background-color: black;
    display: grid;
    color: blanchedalmond;
    font-size: 1rem;
    text-align: center;
    
    .footer_content{
        width: 75rem;
        margin: auto;
    }
   
    
}

.Disclaimer{
    display: grid;
    justify-content: center;
}

.seperator{
    height:5rem;
}

.footerDown{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: space-around;
    align-items: center;
}